$bg-gray:#EFEFEF;
$red:#FB707B;
$white:#fff;
$blue:#475AEF;
$lt-blue:#EDF2FF;
$light-gray:#CED4DA;
$gray:#8F8FA2;
$lt-md-gray:#E8E8E8;
$md-gray:#CED4DA;
$font-md-gray:rgba(17,17,17,70%);
$font-lt-gray:rgba(17,17,17,50%);
