.AvatarSetter{
    position: relative;
    margin-bottom: 50px;
    
    button{
        position: absolute;
        top: 50%;  

    }
    .prev{
        left:0;
        transform: translate(-50%,-50%);    
    }
    .next{
        right:0;
        transform: translate(50%,-50%);      
    }
}