.Avatar{
    border-radius: 50%;
    overflow: hidden;
    @include align-center;
    & img{
        width: 100%;
    }

    &.big{
        width: 153px;
    }

    &.medium{
        width: 113px;
    }
}